{% extends "apsi_app/base.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data" style="max-width: 700px;">
    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tytuł</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="tytul" placeholder="Tytuł">
    </div>

    <div class="mb-3">
        <label for="kategoria" class="form-label">Kategoria</label>
        <select id="kategoria" name="kategoria" class="form-select" aria-label="Default select example">
            <option selected>Wybierz kategorię</option>
            {% for i in kategorie %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Treść</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="tresc" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj pomysł</button>
</form>

{% endblock content %}