{% extends "apsi_app/base.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Tytuł</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="tytul" value="{{ pomysl.tytul }}">
    </div>      

    <div class="input-group mb-3">
        <span class="input-group-text">Treść</span>
        <textarea class="form-control" aria-label="With textarea" name="tresc">{{ pomysl.tresc }}</textarea>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" id="planowane_korzysci" style="height: 100px" name="planowane_korzysci">{{ pomysl.planowane_korzysci }}</textarea>
        <label for="planowane_korzysci">Planowane korzyści</label>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Określ planowane koszty</span>
        <input type="text" class="form-control" name="planowane_koszty" value="{{ pomysl.planowane_koszty }}">
        <span class="input-group-text">zł</span>
    </div>

    <div class="mb-3">
        <label for="slowakluczowe" class="form-label">Dodaj słowa kluczowe</label>
        <input type="text" class="form-control" id="slowakluczowe" name="slowakluczowe">
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Kategoria</label>
        <select class="form-select" id="inputGroupSelect01" name="kategoria">
            <option selected>{{ pomysl.kategoria }}</option>
            {% for i in kategorie %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Kto może oceniać</label>
        <select class="form-select" id="inputGroupSelect01" name="kto_moze_oceniac">
            <option selected>{{ pomysl.kto_moze_oceniac }}</option>
            {% for i in role %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">Wybierz obraz dla pomysłu</label>
        <input class="form-control" type="file" id="formFile" name="{{ pomysl_form.plik.name }}">
    </div>

    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Wybierz pliki dla pomysłu</label>
        <input class="form-control" type="file" id="formFileMultiple" name="wiele_plikow" multiple>
    </div>

    <button type="submit" name="edytuj_pomysl" class="btn btn-primary">Zapisz</button>
</form>

{% endblock content %}