{% extends "apsi_app/base.html" %}
{% block content %}

<div class="row mt-4">
  <div class="col" style="max-width: 700px;">
    {% for pomysl_kto_moze_oceniac in pomysly_kto_moze_oceniac %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ pomysl_kto_moze_oceniac.pomysl.tytul }} <span class="badge bg-secondary">{{ pomysl_kto_moze_oceniac.pomysl.kategoria }}</span></h5>
              <p class="card-text">{{ pomysl_kto_moze_oceniac.pomysl.tresc }}</p>
              <p class="card-text"><small class="text-muted">{{ pomysl_kto_moze_oceniac.pomysl.data|date:'d.m.Y' }}</small></p>

              {% if pomysl_kto_moze_oceniac.moze_oceniac %}
              <form class="row g-3" method="POST">
                {% csrf_token %}

                <input type="hidden" name="pomysl" value="{{pomysl.id}}">

                <div class="col-auto">
                  <input class="form-check-input" type="radio" name="ocena" id="inlineRadio1" value="1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="col-auto">
                  <input class="form-check-input" type="radio" name="ocena" id="inlineRadio2" value="2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="col-auto">
                  <input class="form-check-input" type="radio" name="ocena" id="inlineRadio3" value="3">
                  <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="col-auto">
                  <input class="form-check-input" type="radio" name="ocena" id="inlineRadio4" value="4">
                  <label class="form-check-label" for="inlineRadio4">4</label>
                </div>
                <div class="col-auto">
                  <input class="form-check-input" type="radio" name="ocena" id="inlineRadio5" value="5">
                  <label class="form-check-label" for="inlineRadio3">5</label>
                </div>
                <div class="col-auto">  
                  <button type="submit" class="btn btn-primary mb-3">Oceń</button>
                </div>
              </form>
              {% else %}
              <span class="mb-3 badge text-bg-secondary">Nie możesz oceniać</span>
              {% endif %}

              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ pomysl_kto_moze_oceniac.pomysl.srednia_ocen }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col" style="max-width: 200px;">
    <nav class="sticky-top">
      <a class="mb-3 btn btn-primary" href="{% url 'dodaj-pomysl' %}" role="button">Dodaj pomysł</a>
      
      <ul class="pagination">
        {% if pomysly.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ pomysly.previous_page_number }}">Poprzedni</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Poprzedni</a></li>
        {% endif %}

        {% for i in pomysly.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}

        {% if pomysly.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ pomysly.next_page_number }}">Następny</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Następny</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}