{% extends "apsi_app/base.html" %}
{% block content %}
<div class="row mt-4">
    <div class="col" style="max-width: 300px;">
        <div class="card mb-3">
          <img src="{{ pomysl.plik }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ pomysl.tytul }}</h5>
            <p class="card-text">{{ pomysl.tresc }}</p>
            <p class="card-text">{{ pomysl.planowane_korzysci }}</p>
            <p class="card-text">{{ pomysl.planowane_koszty }}</p>
            <p class="card-text"><small class="text-muted">{{ pomysl.data|date:'d.m.Y' }}</small></p>
          </div>
        </div>

        <div class="col-md-8">
            <a class="mt-3 mb-3 btn btn-primary" href="{% url 'dodaj-komentarz' %}?pomysl_id={{ pomysl.id }}" role="button">Skomentuj</a>
        </div>
      {% for komGleb in komentarzeGlebokosc %}
        <div class="card mb-3" style="max-width: 800px;min-width: 300px;margin-left: {% widthratio 100 1 komGleb.1 %}px;">
          <div class="row g-0">
              <div class="card-body">
                {{komGleb.0.uzytkownik}}, {{ komGleb.0.data|date:'d.m.Y H:i' }}
                  <div class="row g-0" style="padding-left: 5%; padding-top: 10px;">
                    {{komGleb.0.tresc}}
                  </div>
              </div>
          </div>
          <div class="row g-0">
            <div class="col-md-8">
                <a class="mt-3 mb-3 btn btn-primary" href="{% url 'dodaj-komentarz' %}?pomysl_id={{ pomysl_id }}&komentarz_id={{ komGleb.0.pk }}" role="button">Odpowiedz</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

<h5 style="margin-top: 30px">Komisja: zarządzanie pomysłem</h5>
<hr>
<form method="POST" enctype="multipart/form-data" action="{% url 'edytuj-stan-pomyslu' %}">
{% csrf_token %}
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="stan" value="Zaakceptowany" id="btnradio1" autocomplete="off"
         {% if pomysl.stan == "Zaakceptowany" %}
            checked
         {% endif %}
      >
      <label class="btn btn-outline-primary" for="btnradio1">Akceptuj pomysł</label>

      <input type="radio" class="btn-check" name="stan" value="Odrzucony" id="btnradio2" autocomplete="off"
          {% if pomysl.stan == "Odrzucony" %}
            checked
         {% endif %}
      >
      <label class="btn btn-outline-primary" for="btnradio2">Odrzuć pomysł</label>

      <input type="radio" class="btn-check" name="stan" value="Doprecyzuj" id="btnradio3" autocomplete="off"
         {% if pomysl.stan == "Doprecyzuj" %}
            checked
         {% endif %}
      >
      <label class="btn btn-outline-primary" for="btnradio3">Wyślij prośbę o doprecyzowanie</label>

      <input type="radio" class="btn-check" name="stan" value="Odłożony" id="btnradio4" autocomplete="off"
         {% if pomysl.stan == "Odłożony" %}
            checked
         {% endif %}
      >
      <label class="btn btn-outline-primary" for="btnradio4">Odłóż pomysł</label>
    </div>

    <div class="input-group mb-3 mt-4">
        <span class="input-group-text form-control" name="wiadomosc">Wiadomość</span>
        <textarea class="form-control" aria-label="With textarea" name="wiadomosc">{{ pomysl.wiadomosc }}</textarea>
        <input class="form-control" type="hidden" name="pomysl_id" value="{{ pomysl.id }}">

    </div>
    <button type="submit" name="edytuj_stan_pomyslu" class="btn btn-lg btn-primary">Wyślij</button>
    </form>

  </div>

  {% endblock content %}
