{% extends "apsi_app/base.html" %}
{% block content %}

<div class="row mt-4">
    <div class="col" style="max-width: 700px;">
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ pomysl.tytul }} <span class="badge bg-secondary">{{ pomysl.kategoria }}</span></h5>
              <p class="card-text">{{ pomysl.tresc }}</p>
              <p class="card-text"><small class="text-muted">{{ pomysl.data|date:'d.m.Y' }}</small></p>
            </div>
        </div>
        <div class="col-md-8">
            <a class="mt-3 mb-3 btn btn-primary" href="{% url 'dodaj-komentarz' %}?pomysl_id={{ pomysl_id }}" role="button">Skomentuj</a>
        </div>
      {% for komentarz in komentarze %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
              <div class="card-body">
                {{komentarz.uzytkownik}}, {{komentarz.data}}
                  <div class="row g-0" style="padding-left: 5%; padding-top: 10px;">
                      {{komentarz.tresc}}
                  </div>
              </div>
          </div>
          <div class="row g-0">
            <div class="col-md-8">
                <a class="mt-3 mb-3 btn btn-primary" href="{% url 'dodaj-komentarz' %}?pomysl_id={{ pomysl_id }}&komentarz_id={{ komentarz.pk }}" role="button">Odpowiedz</a>
            </div>           
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  {% endblock content %}
