{% extends "apsi_app/base.html" %}
{% block content %}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ user }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        {% for group in user_groups %}
        <li class="list-group-item">{{ group }}</li>
        {% endfor %}
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

{% endblock content %}