{% extends "apsi_app/base.html" %}
{% block content %}

<form method="POST">
    {% csrf_token %}

    <div class="mt-3 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tytuł</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="nazwa" placeholder="Nazwa">
    </div>

    {% for pomysl in pomysly %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="pomysly" value="{{pomysl.id}}" id="flexCheckDefault{{pomysl.id}}">
            <label class="form-check-label" for="flexCheckDefault{{pomysl.id}}">{{ pomysl.tytul }}</label>
        </div>
    {% endfor %}

    <label for="do_n" class="form-label mt-3">Dopuszczalny zakres ocen</label>
    <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default">1 do</span>
        <input type="text" class="form-control" id="do_n" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Utwórz głosowanie</button>
</form>

{% endblock content %}