{% extends "apsi_app/base.html" %}
{% block content %}

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Tytuł</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tytuł">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Treść</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="button" class="btn btn-primary">Dodaj pomysł</button>

{% endblock content %}