{% extends "apsi_app/base.html" %}
{% block content %}


<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="uzytkownik" class="form-label">Użytkownik</label>
        <input type="text" class="form-control" id="uzytkownik" name="{{ login_form.uzytkownik.name }}">
    </div>

    <div class="mb-3">
        <label for="haslo" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="haslo" name="{{ login_form.haslo.name }}">
    </div>

    <button type="submit" class="btn btn-primary">Zaloguj się</button>
    
</form>

{% endblock content %}