{% extends "apsi_app/base.html" %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <h1 class="display-6 mt-3">{{ glosowanie.nazwa }}</h1>
        <a class="mt-3 mb-3 btn btn-danger" href="{% url 'usun-glosowanie' %}?glosowanie_id={{ glosowanie.id }}" role="button">Usuń głosowanie</a>
        <button type="submit" name="wyczysc_glosy" class="mt-3 mb-3 btn btn-danger" aria-current="true">Wyczyść głosy</button>
    </form>

{% for pomysl in pomysly_srednia_glos %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ pomysl.pomysl.plik }}" class="img-fluid rounded-start" alt="..." style="max-height: 200px;">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{ pomysl.pomysl.tytul }}</h5>
        <p class="card-text">{{ pomysl.pomysl.tresc }}</p>
        <p class="card-text"><small class="text-muted">{{ pomysl.pomysl.data|date:'d.m.Y' }}</small></p>


        {% now "Y-m-d" as todays_date %}
        {% if todays_date <= glosowanie.data_koniec|date:"Y-m-d" %}

        <form class="row" method="POST">
          {% csrf_token %}

          <input type="hidden" name="glosowanie_id" value="{{glosowanie.id}}">
          <input type="hidden" name="pomysl_id" value="{{pomysl.pomysl.id}}">

          <div class="row">
            <div class="col">
                <select name="glos" class="form-select" aria-label="Default select example">
                  <option selected>Wybierz</option>
                  {% for i in glos_list %}
                    <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="col">
               {% for glos in glosy %}
                   {% if glos.pomysl.id == pomysl.pomysl.id and glos.glos is not None %}
                       <span type="submit" class="badge bg-secondary">{{glos.glos}}</span>
                   {%  endif %}
               {% endfor %}
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Głosuj</button>
            </div>
          </div>
        </form>

        <span class="badge bg-secondary">Otwarte</span>

        {% endif %}
        {% if todays_date > glosowanie.data_koniec|date:"Y-m-d" %}

        <span class="badge bg-secondary">Zamknięte</span>
        {{ pomysl.glos }}

        {% endif %}
        
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}